.Main {
    position: relative;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.MediaIcons {
    position: absolute;
    top: 0;
    left: 0;
}

.BackgroundContainer {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

.BackgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
}

.BackgroundMask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(2, 0, 10, .8);
}

.TitleContainer {
    z-index: 1;
    display: flex;
    flex-flow: column;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.FirstName,
.Surname,
.Description {
    box-sizing: border-box;
    cursor: default;
    
}

.FirstName,
.Surname {
    color: var(--title-color);
    font-family: "Ubuntu Bold";
    width: 100%;
    /* font-weight: 700; */
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 3em;
}

.Description {
    color: var(--background-color);
    font-family: "Ubuntu Medium";
    margin-top: 1em;
    padding: 10px 20px;
    box-sizing: border-box;
    font-size: 1em;  
    width: auto;
    background: rgba(0, 0, 0, 0.8);
}

.ArrowContainer {
    position: absolute;
    bottom: 100px;
}

.ArrowIcon {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: all .2s;
    background: rgba(255, 255, 255, 0.1);
    color: var(--title-color);
}

.ArrowIcon:hover {
    background: royalblue;
    color: black;
}

.ArrowIcon svg {
    height: 15px;
}

.ArrowText {
    position: absolute;
    color:  rgba(255, 255, 255, 0.5);
    top: -100%;
    font-weight: bold;
    text-align: center;
    width: 100px;
    font-size: .7em;
    text-transform: uppercase;
    opacity: 0;
    transition: all .2s;
    left: 50%;
    transform: translateX(-50%);
}

.ArrowContainer:hover .ArrowText {
    opacity: 1;
}

.ArrowText.in {
    opacity: 1;
    transform: translateX(-50%);
}

.ArrowText.out {
    opacity: 0;
    transform: translateX(100%);
}


@media (min-width: 350px) {
    .FirstName,
    .Surname {
        font-size: 3.3em;
    }
}

@media (min-width: 370px) {
    .FirstName,
    .Surname {
        font-size: 4em;
    }
}

@media (min-width: 600px) {
    .FirstName,
    .Surname {
        font-size: 6em;
    }
}

@media (min-width: 1000px) {
    .FirstName,
    .Surname {
        font-size: 7em;
    }
}