.Main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.Title {
    font-size: 3em;
    letter-spacing: .1em;
    color: crimson;
    margin-right: -.1em;
    cursor: pointer;
}