.Main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.TitleContainer {
    display: flex;
    flex-flow: column;
    width: 80%;
}

.FirstName,
.Surname {
    font-weight: bold;
    width: 100%;
    font-size: 5em;
    letter-spacing: .1em;
    color: crimson;
    margin-right: -.1em;
    cursor: default;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100%;
    background-position: 0% 0%;
}