@font-face {
    font-family: "Ubuntu";
    src: url('/fonts/Ubuntu-Regular.ttf');
    font-weight: bold;
    font-display: auto;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu Light";
    src: url('/fonts/Ubuntu-Light.ttf');
    font-weight: bold;
    font-display: auto;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu Bold";
    src: url('/fonts/Ubuntu-Bold.ttf');
    font-weight: bold;
    font-display: auto;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu Medium";
    src: url('/fonts/Ubuntu-Medium.ttf');
    font-weight: bold;
    font-display: auto;
    font-style: normal;
}

body {
    box-sizing: border-box;
    font-family: "Ubuntu Light", 'Courier New', Courier, monospace;
    background: whitesmoke;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: gainsboro;
}

::-webkit-scrollbar-thumb {
    background: rgb(39, 65, 141);
    border-radius: 0;
}