.Main,
.AuthFormContainer,
.AuthForm,
.IconContainer,
.SubmitButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Main {
    position: relative;
    height: 100vh;
    width: 100vw;
    color: royalblue;
    --input-icon-width: 40px;
    --item-margin: 5px;
}

.AuthFormContainer,
.AuthForm {
    flex-flow: column;
}

.AuthFormContainer {
    font-family: Ubuntu Bold;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 30px 5px gainsboro;
}

.FormTitle {
    margin: var(--item-margin);
}

.InputContainer {
    margin: var(--item-margin);
    position: relative;
}

.EmailInput,
.PasswordInput {
    font-size: 1em;
    padding: 10px var(--input-icon-width);
    border: 2px solid gainsboro;
    border-radius: 5px;
    transition: all .3s;
    color: black;
    font-family: Ubuntu Medium;
}

.EmailInput:focus,
.PasswordInput:focus {
    outline: none;
    box-shadow: 0px 0px 10px 2px gainsboro;
}

.IconContainer {
    position: absolute;
    width: var(--input-icon-width);
    height: 100%;
    top: 0;
    left: 0;
}

.InputIcon {
    color: lightgray;
    transition: all .3s;
}

.InputIcon.focus {
    color: royalblue;
}

.SubmitButton {
    margin-top: var(--item-margin);
    padding: 10px;
    flex-flow: row;
    border: 2px solid gainsboro;
    border-radius: 10px;
    cursor: pointer;
    opacity: 1;
    transition: all .3s;
}

.SubmitButton svg {
    margin-left: 10px;
}

.SubmitButton:hover {
    border: 2px solid transparent;
    box-shadow: 0px 0px 10px 2px gainsboro;
}