.ItemsContainer,
.ItemContainer,
.ItemMainContent,
.ItemHoverContent {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto Mono;
}

.ItemsContainer {
    flex-flow: column;
}