.Loading {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: snow;
    color: royalblue;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    visibility: visible;
    transition:  visibility 0s .5s, top .5s;
}

.Loading.out {
    visibility: hidden;
    top: -100vh;
    /* display: none; */
}