.Footer {
  position: absolute;
  box-sizing: border-box;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  opacity: 1;
  animation: fadein 1s;
  background: transparent;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.MediaIcons {
  position: relative;
}

.Copyright {
  color: whitesmoke;
  position: relative;
  font-size: 0.7em;
  cursor: default;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
