.Icons___1jyXr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Icons___1jyXr.horizontal___6Fpxy {
  flex-flow: row;
}

.Icons___1jyXr.vertical___28aPN {
  flex-flow: column;
  font-size: 1.2em;
}

.Icon___6e_S1 {
  font-size: 1.0em;
  overflow: hidden;
  text-transform: uppercase;
  transition: all .3s;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.Icon___6e_S1.horizontal___6Fpxy {
  box-sizing: border-box;
  --size: 30px;
  color: lavender;
  background: rgba(255, 255, 255, .2);
  padding: var(--padding);
  margin: 5px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  text-align: center;
}

.Icon___6e_S1.vertical___28aPN {
  box-sizing: border-box;
  --size: 40px;
  color: lavender;
  background: rgba(255, 255, 255, .1);
  padding: var(--padding);
  margin: 5px;
  width: var(--size);
  height: var(--size);
  line-height: var(--size);
  border-radius: 50%;
  text-align: center;
}

.Github___2Regp::after {
  position: absolute;
  content: 'Github';
  color: white;
  font-size: .7em;
}

.Icon___6e_S1.vertical___28aPN:hover {
  background: royalblue;
  color: black;
}

.Icon___6e_S1.horizontal___6Fpxy:hover {
  color: black;
  background: royalblue;
}

.Main___3c-CL {
    position: relative;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.MediaIcons___1mSCZ {
    position: absolute;
    top: 0;
    left: 0;
}

.Parallax___t0GrZ {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('/static/images/palmtree.jpg') fixed center no-repeat;
    background-size: cover;
    z-index: -1;
}

.Parallax___t0GrZ::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(2, 0, 10, 0.8);
}

.TitleContainer___1bxur {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.FirstName___8PGm4,
.Surname___3Gmvy,
.Description___HbED0 {
    box-sizing: border-box;
    letter-spacing: .05em;
    cursor: default;

}

.FirstName___8PGm4,
.Surname___3Gmvy {
    font-family: "Ubuntu Medium";
    width: 100%;
    text-align: center;
    font-size: 3em;
    background: linear-gradient(90deg, rgba(255,91,91,1) 20%, rgba(255,111,205,1) 70%, rgba(255,203,109,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Description___HbED0 {
    font-family: "Ubuntu Medium";
    margin-top: 1em;
    padding: 10px 30px;
    box-sizing: border-box;
    font-size: 1em;  
    width: auto;
    background: rgba(0, 0, 0, 0.5);
    color: gainsboro;
}

.ArrowContainer___1dqCi {
    position: absolute;
    bottom: 100px;
}

.ArrowIcon___1oTzX {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: all .3s;
    background: rgba(255, 255, 255, 0.1);
    color: whitesmoke;
}

.ArrowIcon___1oTzX:hover {
    background: royalblue;
    color: black;
}

.ArrowText___16L4d {
    position: absolute;
    color:  rgba(255, 255, 255, 0.5);
    top: -70%;
    font-weight: bold;
    text-align: center;
    width: 100px;
    font-size: .7em;
    text-transform: uppercase;
    opacity: 0;
    left: 50%;
    transition: all .3s;
    transform: translateX(-100%);
}

.ArrowText___16L4d.in___28p6S {
    opacity: 1;
    transform: translateX(-50%);
}

.ArrowText___16L4d.out___3bv_x {
    opacity: 0;
    transform: translateX(100%);
}

@keyframes slidein___qQMaO {
    from { transform: translateX(-100%); }
    to { transform: translateX(-50%); }
}

@media (min-width: 350px) {
    .FirstName___8PGm4,
    .Surname___3Gmvy {
        font-size: 3.3em;
    }
}

@media (min-width: 370px) {
    .FirstName___8PGm4,
    .Surname___3Gmvy {
        font-size: 4em;
    }
}

@media (min-width: 600px) {
    .FirstName___8PGm4,
    .Surname___3Gmvy {
        font-size: 6em;
    }
}

@media (min-width: 1000px) {
    .FirstName___8PGm4,
    .Surname___3Gmvy {
        font-size: 7em;
    }
}
.Footer___2hhX3 {
  position: absolute;
  box-sizing: border-box;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  opacity: 1;
  animation: fadein___1FqwO 1s;
  background: transparent;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.MediaIcons___uTfbp {
  position: relative;
}

.Copyright___2dJgS {
  color: whitesmoke;
  position: relative;
  font-size: .7em;
  cursor: default;
}

@keyframes fadein___1FqwO {
  from { opacity: 0 }
  to { opacity: 1 }
}
.Toolbar___3PyNO {
    --height: 60px;
    height: var(--height);
    width: 100%;
    display: none;
    box-sizing: border-box;
}

.Toolbar___3PyNO.enabled___3KR_g {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
    border: 2px solid green;
}

.PageLinks___15vwM {
    position: absolute;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    right: 0;
}
.Layout___2PL_3 {   
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column;   
}


.Item___2HggL {
  font: inherit;
  width: 100%;
  cursor: default;
  color: black;
  position: relative;
  overflow: hidden;
  margin: 30px 0;
  transition: all .3s, opacity 1s, top .7s;
  opacity: 0;
  top: 20px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
}

.Item___2HggL.show___12H2j {
  opacity: 1;
  top: 0;
}

.Title___19rVv {
  margin-top: 40px;
  margin-left: 20px;
  text-align: left;
  font-size: 1.5em;
  position: relative;
  color: royalblue;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: bold;
  font-family: "Ubuntu Medium";
}

.Title___19rVv span {
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 3px 3px 20px gainsboro,
              -3px -3px 20px gainsboro;
}

.ItemContent___1Xtsc {
  padding-bottom: 20px;
  margin: 20px 0;
  display: flex;
  justify-content: space-around;
  flex-flow: column;
  align-items: center;
  position: relative;
  background: white;
  box-shadow: 3px 3px 20px gainsboro,
              -3px -3px 20px gainsboro;
}
  
.InfoContainer___2jgE- {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  height: 100%;
  padding: 10px;
  width: 100%;
}

.MadeWith___181Xb {
  padding: 0;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  color: dimgray;
  font-family: "Ubuntu Bold";
}

.Language___qBw-5 {
  position: relative;
  overflow: hidden;
  font-weight: 800;
  padding: 0;
  margin: 0;
  color: royalblue;
}

/* adding an empty space the hard way */ 
.Language___qBw-5::before {
  content: "-";
  opacity: 0;
}

.Description___3QyIB {
  color: dimgray;
  font-size: .95em;
  text-align: center;
  padding: 10px 0;
  text-shadow: 0px 1px 5px gainsboro;
}

.IconsAndLinks___3ruVO {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.HardwareIcons___2HOvV {
  position: relative;
  left: 0%;
  display: flex;
  flex-flow: column;
  width: 80px;
}

.HardwareIconContainer___130pR {
  padding: 10px;
  width: 100%;
  position: relative;
  color: dimgray;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.HardwareIcon___21LZp {
  position: relative;
  width: 50%;
  text-align: center;
}

.ItemLinks___30O86 {
  width: 150px;
  position: relative;
  font-family: "Ubuntu Medium";
}

.ItemLinkContainer___2PKLE {
  cursor: pointer;
  width: 100%;
  padding: 10px 5px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  transition: all .2s;
  text-decoration: none;
  color: darkblue;
  background: rgba(220, 220, 220, 0.6);
  margin: 5px 0;
  border-radius: 0px;
}

.ItemLinkContainer___2PKLE:hover {
  background: rgba(255, 255, 255, 1);
  box-shadow: 3px 3px 20px gainsboro;
}

.ItemLinkContainer___2PKLE:hover svg {
  transform: scale(1.1);
}

.ItemLink___3DGlD {
  padding: 0;
  margin: 0;
  font-size: .9em;
  width: 60%;
  text-transform: uppercase;
  text-align: center;
}

.ItemLinkIcon___2LwMV {
  width: 40%;
  text-align: center;
}

.ImageContainer___17WA_ {
  position: relative;
  width: 100%;
}

.ImageContainer___17WA_ img {
  border: 2px solid gainsboro;
  box-sizing: border-box;
  width: 100%;
}

.ImageMask___1aSDB {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .9);
  transition: all .4s;
  opacity: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: white;
  visibility: hidden;
}

.ImageContainer___17WA_:hover .ImageMask___1aSDB {
  opacity: 1;
  visibility: visible;
}

.MaskLinks___1129d {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.MaskLink___3V_OW {
  display: flex;
  flex-flow: row;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  margin: 5px;
  position: relative;
}

.MaskLinkText___EPhQZ {
  color: whitesmoke;
  padding: 2px 5px;
  border-radius: 5px;
  transition: all .15s;
}

.MaskLink___3V_OW:hover .MaskLinkText___EPhQZ {
  background: whitesmoke;
  color: dimgray;
}

.MaskLinkIcon___23L6- {
  position: relative; 
  margin: 0 5px;
  color: gray;
  transition: all .3s;
}

.MaskLink___3V_OW:hover .MaskLinkIcon___23L6- {
  color: whitesmoke;
  transform: scale(1.15);
}

@media (min-width: 800px) {
  .ItemContent___1Xtsc {
    flex-flow: row;
    padding-bottom: 0;
    margin: 20px;
    padding: 20px;
  }

  .MadeWith___181Xb {
    justify-content: flex-start;
  }

  .Description___3QyIB {
    text-align: left;
    padding: 20px 0;
  }

  .IconsAndLinks___3ruVO {
    justify-content: flex-start;
  }
}

@media (min-width: 1000px) {
  .Item___2HggL {
    width: 80%;
    font-size: .9em;
  }

  .InfoContainer___2jgE- {
    width: 60%;
    padding: 20px 60px;
  }

  .ImageContainer___17WA_ {
    width: 40%;
  }
}

@media (min-width: 1400px) {
  .Item___2HggL {
    width: 70%;
  }
}
.Content___1Enco {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    background: whitesmoke;
}
@font-face {
    font-family: "Ubuntu";
    src: url('/static/fonts/Ubuntu-Regular.ttf');
    font-weight: bold;
    font-display: auto;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu Light";
    src: url('/static/fonts/Ubuntu-Light.ttf');
    font-weight: bold;
    font-display: auto;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu Bold";
    src: url('/static/fonts/Ubuntu-Bold.ttf');
    font-weight: bold;
    font-display: auto;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu Medium";
    src: url('/static/fonts/Ubuntu-Medium.ttf');
    font-weight: bold;
    font-display: auto;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Ubuntu Light", 'Courier New', Courier, monospace;
    background: rgb(134, 117, 117);
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: gainsboro;;
}

::-webkit-scrollbar-thumb {
    background: royalblue;
    border-radius: 0;
}

/*# sourceMappingURL=styles.chunk.css.map*/