.Icons___27Rhv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Icons___27Rhv.horizontal___2KeBy {
  flex-flow: row;
}

.Icons___27Rhv.vertical___w0szC {
  margin: 10px;
  flex-flow: column;
}

.Icon___3DChQ {
  overflow: hidden;
  transition: all .3s;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.Icon___3DChQ.horizontal___2KeBy {
  box-sizing: border-box;
  --horizontalSize: 30px;
  color: lavender;
  background: rgba(255, 255, 255, .2);
  margin: 5px;
  width: var(--horizontalSize);
  height: var(--horizontalSize);
  line-height: var(--horizontalSize);
  border-radius: 50%;
}

.Icon___3DChQ.horizontal___2KeBy svg {
  width: 15px;
}

.Icon___3DChQ.vertical___w0szC {
  box-sizing: border-box;
  --verticalSize: 40px;
  color: lavender;
  background: rgba(255, 255, 255, .1);
  margin: 5px;
  width: var(--verticalSize);
  height: var(--verticalSize);
  line-height: var(--verticalSize);
  border-radius: 50%;
  text-align: center;
}

.Icon___3DChQ.vertical___w0szC svg {
  width: 15px;
}

.Github___32KvZ::after {
  position: absolute;
  content: 'Github';
  color: white;
  font-size: .7em;
}

.Icon___3DChQ.vertical___w0szC:hover {
  background: royalblue;
  color: black;
}

.Icon___3DChQ.horizontal___2KeBy:hover {
  color: black;
  background: royalblue;
}

.Main___1kdvF {
    position: relative;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.MediaIcons___3X9Um {
    position: absolute;
    top: 0;
    left: 0;
}

.BackgroundContainer___1G8XX {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

.BackgroundImage___3AtYJ {
    position: absolute;
    top: 0;
    left: 0;
    visibility: visible;
}

.BackgroundMask___2heM8 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(2, 0, 10, 0.8);
}

.TitleContainer___2bOxB {
    z-index: 1;
    display: flex;
    flex-flow: column;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.FirstName___1oifF,
.Surname___2W55F,
.Description___2EZzY {
    box-sizing: border-box;
    letter-spacing: .05em;
    cursor: default;

}

.FirstName___1oifF,
.Surname___2W55F {
    font-family: "Ubuntu Medium";
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 3em;
    background: linear-gradient(90deg, rgba(255,91,91,1) 20%, rgba(255,111,205,1) 70%, rgba(255,203,109,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Description___2EZzY {
    font-family: "Ubuntu Medium";
    margin-top: 1em;
    padding: 10px 30px;
    box-sizing: border-box;
    font-size: 1em;  
    width: auto;
    background: rgba(0, 0, 0, 0.5);
    color: gainsboro;
}

.ArrowContainer___1gE-X {
    position: absolute;
    bottom: 100px;
}

.ArrowIcon___3VFxX {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: all .3s;
    background: rgba(255, 255, 255, 0.1);
    color: whitesmoke;
}

.ArrowIcon___3VFxX:hover {
    background: royalblue;
    color: black;
}

.ArrowIcon___3VFxX svg {
    height: 15px;
}

.ArrowText___cijRf {
    position: absolute;
    color:  rgba(255, 255, 255, 0.5);
    top: -100%;
    font-weight: bold;
    text-align: center;
    width: 100px;
    font-size: .7em;
    text-transform: uppercase;
    opacity: 0;
    left: 50%;
    transition: all .3s;
    transform: translateX(-100%);
}

.ArrowText___cijRf.in___1uki9 {
    opacity: 1;
    transform: translateX(-50%);
}

.ArrowText___cijRf.out___xo2li {
    opacity: 0;
    transform: translateX(100%);
}

@keyframes slidein___1iSaM {
    from { transform: translateX(-100%); }
    to { transform: translateX(-50%); }
}

@media (min-width: 350px) {
    .FirstName___1oifF,
    .Surname___2W55F {
        font-size: 3.3em;
    }
}

@media (min-width: 370px) {
    .FirstName___1oifF,
    .Surname___2W55F {
        font-size: 4em;
    }
}

@media (min-width: 600px) {
    .FirstName___1oifF,
    .Surname___2W55F {
        font-size: 6em;
    }
}

@media (min-width: 1000px) {
    .FirstName___1oifF,
    .Surname___2W55F {
        font-size: 7em;
    }
}
.Footer___ST3DE {
  position: absolute;
  box-sizing: border-box;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  opacity: 1;
  animation: fadein___Ie23T 1s;
  background: transparent;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.MediaIcons___23oHI {
  position: relative;
}

.Copyright___6wjTT {
  color: whitesmoke;
  position: relative;
  font-size: .7em;
  cursor: default;
}

@keyframes fadein___Ie23T {
  from { opacity: 0 }
  to { opacity: 1 }
}
.Toolbar___2IFkD {
    --height: 60px;
    height: var(--height);
    width: 100%;
    display: none;
    box-sizing: border-box;
}

.Toolbar___2IFkD.enabled___2BQc4 {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
    border: 2px solid green;
}

.PageLinks___2txjX {
    position: absolute;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    right: 0;
}
.Layout___AVeUt {   
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column;   
}


.Content___K0TO7 {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    background: whitesmoke;
}

.Title___122BB {
    padding-top: 20px;
    font-family: "Ubuntu Bold";
    letter-spacing: .1em;
    text-transform: uppercase;
    background: linear-gradient(90deg, rgba(255,91,91,1) 30%, rgba(255,111,205,1) 100%, rgba(255,203,109,1) 150%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1, 1.1);
    text-shadow: 1px 1px 10px gainsboro;
}
@font-face {
    font-family: "Ubuntu";
    src: url('/fonts/Ubuntu-Regular.ttf');
    font-weight: bold;
    font-display: auto;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu Light";
    src: url('/fonts/Ubuntu-Light.ttf');
    font-weight: bold;
    font-display: auto;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu Bold";
    src: url('/fonts/Ubuntu-Bold.ttf');
    font-weight: bold;
    font-display: auto;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu Medium";
    src: url('/fonts/Ubuntu-Medium.ttf');
    font-weight: bold;
    font-display: auto;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Ubuntu Light", 'Courier New', Courier, monospace;
    background: rgb(134, 117, 117);
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: gainsboro;;
}

::-webkit-scrollbar-thumb {
    background: rgb(39, 65, 141);
    border-radius: 0;
}
.Main___3w2yc {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: opacity .3s;
    opacity: 0;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.Main___3w2yc.mount___2v3RS {
    opacity: 1;
    animation: fadein___1ZLib .3s;
}

@keyframes fadein___1ZLib {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.Main___3w2yc.unmount___3mvc- {
    opacity: 0;
}

.Backdrop___3B7tu {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 20;
    background: rgba(0, 0, 0, .8);
}

.VideoContainer___2gnni {
    z-index: 21;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.Video___QoA7X {
    max-height: 95%;
    max-width: 100%;
}

.CloseButton____MALA {
    z-index: 21;
    position: absolute;
    top: 10px;
    right: 20px;
}

.CloseButton____MALA svg {
    width: 25px;
    color: gray;
    transition: all .2s;
    cursor: pointer;
}

.CloseButton____MALA:hover svg {
    color: whitesmoke;
}
.Item___2z7E8 {
  font: inherit;
  width: 100%;
  cursor: default;
  color: black;
  position: relative;
  overflow: hidden;
  margin: 30px 0;
  transition: all .3s, opacity 1.2s, top .7s;
  opacity: 0;
  top: 40px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
}

.Item___2z7E8.show___6kfVr {
  opacity: 1;
  top: 0;
}

.Title___3ZaYJ {
  margin-top: 40px;
  margin-left: 20px;
  text-align: left;
  font-size: 1.5em;
  position: relative;
  color: royalblue;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: bold;
  font-family: "Ubuntu Bold";
}

.Title___3ZaYJ span {
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 5px gainsboro;
}

.ItemContent___3R0xe {
  padding-bottom: 20px;
  margin: 20px 0;
  display: flex;
  justify-content: space-around;
  flex-flow: column;
  align-items: center;
  position: relative;
  background: white;
  box-shadow: 0px 0px 20px 5px gainsboro;
}
  
.InfoContainer___2K1Jf {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  height: 100%;
  padding: 10px;
  width: 100%;
}

.MadeWith___2_0_d {
  padding: 0;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  color: dimgray;
  font-family: "Ubuntu Bold";
}

.Language___3j4M0 {
  position: relative;
  overflow: hidden;
  font-weight: 800;
  padding: 0;
  margin: 0;
  color: royalblue;
}

/* adding an empty space the hard way */ 
.Language___3j4M0::before {
  content: "-";
  opacity: 0;
}

.Description___3jL8P {
  color: dimgray;
  font-size: .95em;
  text-align: center;
  padding: 10px 0;
  text-shadow: 0px 0px 10px 20px gainsboro;
}

.IconsAndLinks___3W2-o {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.HardwareIcons___1Zo3h {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 100%;
}

.HardwareIconContainer___2Svmz {
  width: 100%;
  position: relative;
  color: dimgray;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.HardwareIcon___7oC72 {
  position: relative;
  width: 50%;
  text-align: center;
}

.DesktopIcon___1I-OD svg {
  width: 1.4em;
  margin-bottom: -3px;
}

.MobileIcon___2Qx5_ svg {
  width: 1.1em;
  margin-bottom: -3px;
}

.CheckMarkIcon___11WPT svg,
.TimesIcon___gPzyh svg {
  width: 1.4em;
  margin-bottom: -3px;
}

.ItemLinks___316VE {
  width: 130px;
  position: relative;
  font-family: "Ubuntu Medium";
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.ItemLinkContainer___3gKyx {
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  transition: all .2s;
  text-decoration: none;
  color: darkblue;
  background: rgba(220, 220, 220, 0.6);
  margin: 5px 0;
  padding: 5px;
}

.ItemLinkContainer___3gKyx:hover {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 20px 5px gainsboro;
}

.ItemLinkContainer___3gKyx:hover svg {
  transform: scale(1.1);
  transition: all .1s;
}

.ItemLink___zvdwb {
  padding: 0;
  margin: 0;
  width: 60%;
  text-transform: uppercase;
  text-align: center;
}

.ItemLinkIcon___2pksG {
  width: auto;
  text-align: center;
}

.ItemLinkIcon___2pksG svg {
  height: 1.7em;
  margin-bottom: -3px;
}

.ImageContainer___3ZHP8 {
  position: relative;
  width: 100%;
}

.ImageContainer___3ZHP8 img {
  border: 2px solid gainsboro;
  box-sizing: border-box;
  width: 100%;
}

.ImageMask___ZcxR5 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .9);
  transition: all .4s;
  opacity: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.ImageContainer___3ZHP8:hover .ImageMask___ZcxR5 {
  opacity: 1;
}

.MaskLinks___3b_RG {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.MaskLink___2Z_QC {
  display: flex;
  flex-flow: row;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  margin: 5px;
  position: relative;
}

.MaskLinkText___V2BhR {
  color: whitesmoke;
  padding: 2px 5px;
  border-radius: 5px;
  transition: all .15s;
}

.MaskLink___2Z_QC:hover .MaskLinkText___V2BhR {
  background: whitesmoke;
  color: dimgray;
}

.MaskLinkIcon___1xuTX {
  position: relative; 
  margin: 0 5px;
  color: gray;
  transition: all .3s;
}

.ExpandVideo___2-0ff {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}

.ExpandVideo___2-0ff p {
  border-radius: 5px;
  color: gray;
  background: transparent;
  padding: 5px;
  transition: all .2s;
}

.ExpandVideo___2-0ff:hover p {
  color: whitesmoke;
  /* color: black;
  background: whitesmoke; */
}

.ExpandVideo___2-0ff:hover svg {
  transform: scale(1.2);
}

.ExpandVideo___2-0ff svg {
  transition: all .2s;
  margin-left: 5px;
  width: 20px;
  color: white;
}

.MaskLinkIcon___1xuTX svg {
  width: 15px;
  margin-bottom: -3px;
}

.MaskLink___2Z_QC:hover .MaskLinkIcon___1xuTX {
  color: whitesmoke;
  transform: scale(1.15);
}

@media (min-width: 800px) {
  .ItemContent___3R0xe {
    flex-flow: row;
    padding-bottom: 0;
    margin: 20px;
    padding: 20px;
  }

  .MadeWith___2_0_d {
    justify-content: flex-start;
  }

  .Description___3jL8P {
    text-align: left;
    padding: 20px 0;
  }

  .IconsAndLinks___3W2-o {
    justify-content: flex-start;
  }
}

@media (min-width: 1000px) {
  .Item___2z7E8 {
    width: 80%;
    font-size: .9em;
  }

  .InfoContainer___2K1Jf {
    width: 60%;
    padding: 20px 60px;
  }

  .ImageContainer___3ZHP8 {
    width: 40%;
  }
}

@media (min-width: 1400px) {
  .Item___2z7E8 {
    width: 70%;
  }
}

/*# sourceMappingURL=styles.chunk.css.map*/