.Icons___1S2Lv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Icons___1S2Lv.horizontal___2eWCk {
  flex-flow: row;
}

.Icons___1S2Lv.vertical___2_ZAB {
  flex-flow: column;
  font-size: 1.2em;
}

.Icon___2XN9E {
  font-size: 1.0em;
  overflow: hidden;
  text-transform: uppercase;
  transition: all .3s;
}

.Icon___2XN9E.horizontal___2eWCk {
  --padding: 5px;
  --size: 20px;
  color: white;
  background: rgba(0, 0, 0, .1);
  padding: var(--padding);
  margin: 5px;
  width: var(--size);
  height: var(--size);
  line-height: var(--size);
  border-radius: 50%;
  text-align: center;
}

.Icon___2XN9E.vertical___2_ZAB {
  --padding: 10px;
  --size: 25px;
  color: white;
  background: rgba(255, 255, 255, .1);
  padding: var(--padding);
  margin: 10px;
  width: var(--size);
  height: var(--size);
  line-height: var(--size);
  border-radius: 50%;
  text-align: center;
}

.Github___2-JPM::after {
  position: absolute;
  content: 'Github';
  color: white;
  font-size: .7em;
}

.Icon___2XN9E.vertical___2_ZAB:hover {
  background: lightyellow;
  color: black;
}

.Icon___2XN9E.horizontal___2eWCk:hover {
  background: rgba(0, 0, 0, .5);
}

.Main___3c-CL {
    position: relative;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.MediaIcons___1mSCZ {
    position: absolute;
    top: 0;
    left: 0;
}

.Parallax___t0GrZ {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('/static/images/palmtree.jpg') fixed center no-repeat;
    background-size: cover;
    z-index: -1;
}

.Parallax___t0GrZ::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .9);
}

.TitleContainer___1bxur {
    display: flex;
    flex-flow: column;
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
}

.FirstName___8PGm4,
.Surname___3Gmvy,
.Description___HbED0 {
    box-sizing: border-box;
    font-weight: bold;
    width: 100%;
    letter-spacing: .1em;
    color: crimson;
    margin-right: -.1em;
    cursor: default;
    background: linear-gradient(90deg, rgba(101,162,215,1) -30%, rgba(242,58,96,1) 99%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100%;
    background-position: 0% 0%;
}

.FirstName___8PGm4,
.Surname___3Gmvy {
    font-size: 5em;
}

.Description___HbED0 {
    box-sizing: border-box;
    padding: 10px;
    font-weight: 400;
    font-size: 1.5em;  
    text-align: center;
}
.Footer___2Ne5u {
  position: absolute;
  box-sizing: border-box;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  opacity: 1;
  animation: fadein___2rBOx 2s;
  background: transparent;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  color: dimgray;
  height: 100px;
}

.MediaIcons___1HxbE {
  position: relative;
}

.Copyright___2iaGI {
  position: relative;
  font-size: .7em;
  cursor: default;
}

@keyframes fadein___2rBOx {
  from { opacity: 0 }
  to { opacity: 1 }
}
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Ubuntu";
    background: gainsboro;

}

.Layout___3HjLA {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column;   
}
.Content___3RWG2 {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    background: whitesmoke;
}

/*# sourceMappingURL=styles.chunk.css.map*/