.AddItemContainer,
.AddItemButton,
.ItemsContainer,
.ItemContainer,
.ItemMainContent,
.ItemHoverContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.AddItemButton {
    background: royalblue;
    width: var(--item-width);
    height: var(--item-height);
    transition: all .3s;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: snow;
    position: relative;
    border-radius: var(--border-radius);
}

.AddItemButton:hover {
    box-shadow: var(--item-shadow);
    background: snow;
    color: royalblue;
}

.AddItemIcon {
    box-sizing: content-box;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    transition: all .5s;
}

.AddItemButton:hover .AddItemIcon {
    transform: rotate(180deg);
}

.AddItemContainer {
    flex-flow: column;
    position: relative;
}