.Item {
  font: inherit;
  width: 100%;
  cursor: default;
  color: black;
  position: relative;
  overflow: hidden;
  margin: 30px 0;
  transition: all .3s, opacity 1.2s, top .7s;
  opacity: 0;
  top: 40px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
}

.Item.show {
  opacity: 1;
  top: 0;
}

.Title {
  margin-top: 40px;
  margin-left: 20px;
  text-align: left;
  font-size: 1.5em;
  position: relative;
  color: royalblue;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: bold;
  font-family: "Ubuntu Medium";
}

.Title span {
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 3px 3px 20px gainsboro,
              -3px -3px 20px gainsboro;
}

.ItemContent {
  padding-bottom: 20px;
  margin: 20px 0;
  display: flex;
  justify-content: space-around;
  flex-flow: column;
  align-items: center;
  position: relative;
  background: white;
  box-shadow: 3px 3px 20px gainsboro,
              -3px -3px 20px gainsboro;
}
  
.InfoContainer {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  height: 100%;
  padding: 10px;
  width: 100%;
}

.MadeWith {
  padding: 0;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  color: dimgray;
  font-family: "Ubuntu Bold";
}

.Language {
  position: relative;
  overflow: hidden;
  font-weight: 800;
  padding: 0;
  margin: 0;
  color: royalblue;
}

/* adding an empty space the hard way */ 
.Language::before {
  content: "-";
  opacity: 0;
}

.Description {
  color: dimgray;
  font-size: .95em;
  text-align: center;
  padding: 10px 0;
  text-shadow: 0px 1px 5px gainsboro;
}

.IconsAndLinks {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.HardwareIcons {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 100%;
}

.HardwareIconContainer {
  width: 100%;
  position: relative;
  color: dimgray;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.HardwareIcon {
  position: relative;
  width: 50%;
  text-align: center;
}

.DesktopIcon svg {
  width: 1.4em;
  margin-bottom: -3px;
}

.MobileIcon svg {
  width: 1.1em;
  margin-bottom: -3px;
}

.CheckMarkIcon svg,
.TimesIcon svg {
  width: 1.4em;
  margin-bottom: -3px;
}

.ItemLinks {
  width: 150px;
  position: relative;
  font-family: "Ubuntu Medium";
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.ItemLinkContainer {
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  transition: all .2s;
  text-decoration: none;
  color: darkblue;
  background: rgba(220, 220, 220, 0.6);
  margin: 5px 0;
  padding: 5px;
}

.ItemLinkContainer:hover {
  background: rgba(255, 255, 255, 1);
  box-shadow: 3px 3px 20px gainsboro;
}

.ItemLinkContainer:hover svg {
  transform: scale(1.1);
  transition: all .1s;
}

.ItemLink {
  padding: 0;
  margin: 0;
  width: 60%;
  text-transform: uppercase;
  text-align: center;
}

.ItemLinkIcon {
  width: 40%;
  text-align: center;
}

.ItemLinkIcon svg {
  height: 1.7em;
  margin-bottom: -3px;
}

.ImageContainer {
  position: relative;
  width: 100%;
}

.ImageContainer img {
  border: 2px solid gainsboro;
  box-sizing: border-box;
  width: 100%;
}

.ImageMask {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .9);
  transition: all .4s;
  opacity: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: white;
  visibility: hidden;
}

.ImageContainer:hover .ImageMask {
  opacity: 1;
  visibility: visible;
}

.MaskLinks {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.MaskLink {
  display: flex;
  flex-flow: row;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  margin: 5px;
  position: relative;
}

.MaskLinkText {
  color: whitesmoke;
  padding: 2px 5px;
  border-radius: 5px;
  transition: all .15s;
}

.MaskLink:hover .MaskLinkText {
  background: whitesmoke;
  color: dimgray;
}

.MaskLinkIcon {
  position: relative; 
  margin: 0 5px;
  color: gray;
  transition: all .3s;
}

.ExpandVideo {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}

.ExpandVideo p {
  border-radius: 5px;
  color: gray;
  background: transparent;
  padding: 5px;
  transition: all .2s;
}

.ExpandVideo:hover p {
  color: whitesmoke;
  /* color: black;
  background: whitesmoke; */
}

.ExpandVideo:hover svg {
  transform: scale(1.2);
}

.ExpandVideo svg {
  transition: all .2s;
  margin-left: 5px;
  width: 20px;
  color: white;
}

.MaskLinkIcon svg {
  width: 15px;
  margin-bottom: -3px;
}

.MaskLink:hover .MaskLinkIcon {
  color: whitesmoke;
  transform: scale(1.15);
}

@media (min-width: 800px) {
  .ItemContent {
    flex-flow: row;
    padding-bottom: 0;
    margin: 20px;
    padding: 20px;
  }

  .MadeWith {
    justify-content: flex-start;
  }

  .Description {
    text-align: left;
    padding: 20px 0;
  }

  .IconsAndLinks {
    justify-content: flex-start;
  }
}

@media (min-width: 1000px) {
  .Item {
    width: 80%;
    font-size: .9em;
  }

  .InfoContainer {
    width: 60%;
    padding: 20px 60px;
  }

  .ImageContainer {
    width: 40%;
  }
}

@media (min-width: 1400px) {
  .Item {
    width: 70%;
  }
}