.Item {
  font: inherit;
  width: 95%;
  cursor: default;
  color: black;
  position: relative;
  overflow: hidden;
  margin: 60px 0;
  padding: 20px;
  transition: all .3s, opacity 1s, top .7s;
  opacity: 0;
  top: 50px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
}

.Item.show {
  opacity: 1;
  top: 0;
}

.Title {
  margin-left: 20px;
  text-align: left;
  font-size: 1.5em;
  position: relative;
  color: royalblue;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: bold;
}

.Title span {
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 3px 3px 30px gainsboro;
}

.ItemContent {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: center;
}

.InfoContainer {
  display: flex;
  flex-flow: column;
  padding: 30px;
  width: 60%;
}

.MadeWith {
  padding: 0;
  display: flex;
  flex-flow: row;
  align-items: center;
  color: dimgray;
}

.Language {
  position: relative;
  overflow: hidden;
  font-weight: 800;
  color: royalblue;
}

/* adding an empty space the hard way */ 
.Language::before {
  content: "-";
  opacity: 0;
}

.IconsAndLinks {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}

.HardwareIcons {
  position: relative;
  background: gainsboro;
  left: 0%;
  display: flex;
  flex-flow: column;
  width: 15%;
}

.HardwareIconContainer {
  padding: 10px;
  width: 100%;
  position: relative;
  color: dimgray;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.HardwareIcon {
  position: relative;
  width: 50%;
  text-align: center;
}

.ItemLinks {
  color: dimgray;
  width: 20%;
  position: relative;
  background: gainsboro;
}

.ItemLinkContainer {
  cursor: pointer;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  transition: all .2s;
  text-decoration: none;
  color: royalblue;
}

.ItemLinkContainer:hover {
  background: rgba(255, 255, 255, 1);
  box-shadow: 3px 3px 20px gainsboro;
}

.ItemLinkContainer:hover svg {
  transform: scale(1.1);
}

.ItemLink {
  padding: 0;
  margin: 0;
  font-size: .9em;
  width: 60%;
  text-transform: uppercase;
  text-align: center;
}

.ItemLinkIcon {
  width: 40%;
  text-align: center;
}

.ImageContainer {
  position: relative;
  width: 40%;
}

.ImageContainer img {
  border: 2px solid gainsboro;
  width: 100%;
}

.ImageMask {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .9);
  transition: all .4s;
  opacity: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: white;
  visibility: hidden;
}

.ImageContainer:hover .ImageMask {
  opacity: 1;
  visibility: visible;
}

.MaskLinks {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.MaskLink {
  display: flex;
  flex-flow: row;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  margin: 5px;
  position: relative;
}

.MaskLinkText {
  color: whitesmoke;
  padding: 2px 5px;
  border-radius: 5px;
  transition: all .15s;
}

.MaskLink:hover .MaskLinkText {
  background: whitesmoke;
  color: dimgray;
}

.MaskLinkIcon {
  position: relative; 
  margin: 0 5px;
  color: gray;
  transition: all .3s;
}

.MaskLink:hover .MaskLinkIcon {
  color: whitesmoke;
  transform: scale(1.15);
}

@media (min-width: 1000px) {
  .ItemContent {
    flex-flow: row;
  }
}