.ItemForm {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  opacity: 0;
  width: var(--item-width);
  height: auto;
  transition: all var(--transition-time);
  overflow: hidden;
  background: white;
  padding: 10px;
  z-index: -1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: var(--border-radius);
}

.ItemForm.show {
  z-index: 1;
  opacity: 1;
  box-shadow: 0px 0px 100px -30px dimgray;
}

.FormBackdrop {
  content: '';
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: -5;
  opacity: 0;
  transition: opacity var(--transition-time);
}

.FormBackdrop.show {
  z-index: 0;
  opacity: 1;
}

.ItemForm::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: snow;
  transition: all 0.1s;
  width: 100%;
  height: 100%;
}

.ItemForm.show::after {
  width: 0;
  height: 0;
  opacity: 0;
}

.FormCloseButton {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s;
  color: dimgray;
}

.FormCloseButton:hover {
  color: gainsboro;
}

.FormInputContainer {
  text-transform: uppercase;
  font-size: 0.8rem;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px;
}

.FormInputTitle {
  font-weight: 600;
  margin-bottom: 5px;
}

.FormInput {
  padding: 5px 10px;
  border: 1px solid gainsboro;
  border-radius: var(--border-radius);
  width: 100%;
  transition: all var(--transition-time);
}

.FormInput::placeholder {
  color: lightgray;
}

.FormInput:focus {
  outline: none;
  border: 1px solid lightgray;
  box-shadow: 0px 0px 50px -10px gainsboro;
}

.FormAddButton {
  background: royalblue;
  position: relative;
  /* bottom: 10px; */
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: all var(--transition-time);
}

.FormAddButton:hover {
  box-shadow: var(--item-shadow);
}

.FormAddButton p {
  color: white;
  text-transform: uppercase;
}

.Select {
  display: flex;
  flex-flow: row;
}

.Option {
  padding: 2px 4px;
  margin: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.Option.selected {
  background: royalblue;
  color: white;
  border: 1px solid royalblue;
}

.Loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(245, 245, 245, 0.7);
  z-index: 10;
  animation: fadein 0.3s;
}
