.Content {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    background: var(--content-bg-color);
    overflow: hidden;
}

.Title {
    padding-top: 20px;
    font-family: "Ubuntu Bold";
    letter-spacing: .1em;
    padding-right: .1em;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: dimgray;
    transform: scale(1, 1.1);
    text-shadow: 1px 1px 10px gainsboro;
}