@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

.Main,
.Loading,
.AdminWrapper,
.AddItemContainer,
.AddItemButton,
.ItemsContainer,
.ItemContainer,
.ItemMainContent,
.ItemHoverContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Main {
    --input-icon-width: 40px;
    --item-margin: 5px;
    --transition-time: .3s;
    --item-width: 400px;
    --item-height: 100px;
    --form-height: 400px;
    --item-shadow: 0px 0px 20px 10px whitesmoke;
    --transition-time: .2s;
    --border-radius: 5px;
    position: relative;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    color: var(--main-color);
    animation: fadein 1s;  
    overflow-x: hidden;
    background: white;
}

.AdminContentWrapper {
    font-family: 'Roboto';
    width: 100%;
    height: 100%;
    position: relative;
    align-items: flex-start;
    justify-content: center;
    color: var(--text-color);
}

.ItemContainer,
.AddItemContainer {
    margin: 10px 0;
}

.Loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(245, 245, 245, 0.7);
    z-index: 10;
    animation: fadein .3s;
}