.Loading {
    position: fixed;
    top: 0;
    left: 0;
    color: royalblue;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    visibility: visible;
    transition:  visibility 0s .5s, top .5s, opacity .5s;
}

.Loading.notfull {
    background: transparent;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.Loading.fullscreen {
    width: 100vw;
    height: 100vh;
    background: snow;
}

.Loading.transparent.fullscreen {
    background: rgba(200, 200, 200, 0.5);
}

.Loading.fadeout {
    visibility: hidden;
    opacity: 0;
}

.Loading.slideout {
    visibility: hidden;
    top: -100vh;
    /* display: none; */
}

@keyframes fadein {
    from { opacity: 0 }
    to { opacity: 1 }
}